* {
    margin: 0;
}
.header {
    display: block;
    height: 100vh;
}

.nav1 {
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 14px 14px;
    height: 40px;
}
.title h1{
    align-items: center;
    justify-content: center;
    
}

.search input[type=text]{
    float:right;
    width: 400px;
    margin: auto;
    height: auto;
  border: 3px solid grey;
  padding: 10px;
}
.animated-text {
  font-size: 20px;
  line-height: 1.6;
  color: white;
  text-align: left;
  margin: 50px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 2s ease-out forwards;
}

.animated-text span {
  display: inline-block;
  font-size: 50px;
  color: #39ff14;
  text-shadow: 4px 4px rgb(222, 6, 42);
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
  }
  to {
    text-shadow: 0 0 20px #ff004f, 0 0 30px #ff004f, 0 0 40px #ff004f;
  }
}



body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("theater.png");
    background-position-y: 45px;
    background-size:cover ;
    background-repeat: no-repeat;
}
.nav2 {
    overflow: hidden;
    background-color: #333;
    height:40px;
}
.nav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav2 a.about{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.nav2 a#about{
    float:right;
}
.nav2 a:hover {
    background-color: #ddd;
    color: black;
}
.nav2 a#active {
    background-color: #f07006;
    color: white;
} 
.intro{
    padding: 100px;
    float: right;
    color:white;
    font-size:30px;
    text-shadow: 3px 3px rgba(11, 9, 9, 0.925);
}
.copy{
    
    margin-top: 610px;
    margin-left: 500px;
    color:#ddd;
    
}
.animated-text {
  font-size: 20px;
  line-height: 1.6;
  color: white;
  text-align: left;
  margin: 50px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 2s ease-out forwards;
}

.animated-text span {
  display: inline-block;
  font-size: 50px;
  color: #39ff14;
  text-shadow: 4px 4px rgb(222, 6, 42);
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
  }
  to {
    text-shadow: 0 0 20px #ff004f, 0 0 30px #ff004f, 0 0 40px #ff004f;
  }
}



